@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
html {
	font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #E0DFD4;
    overflow-x: hidden;
}
.navBar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #72911C;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
}
.navBar-title {
	font-family: 'Dancing Script', cursive;
    color: #E0DFD4;
	text-shadow: 2px 2px 2px #333;
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 35px;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    transition: .5s;
}

.navBar .navContent{
    transition: 0.5s;
}

.navBar a {
    text-align: center;
    padding: 10px 10px 10px 10px;
	text-shadow: 1px 1px 1px #333;
    text-decoration: none;
    font-size: 25px;
    color: #E0DFD4;
    display: block;
    transition: 0.2s;
    overflow: hidden;
    height: 50px;
    width: 100%;
}

.navBar h3 {
    margin-top: 10px;
    height: 40px;
}

.navBar a:hover {
    color: #333;
    font-size: 27px;
}
.navButton {
    position: absolute;
    left: 0;
    margin-left: 5px;
    margin-top: 4px;
    font-size: 50px;
    cursor: pointer;
    float: left;
    color: #E0DFD4;
    transition: 0.5s;
}

*{padding: 0; margin: 0; box-sizing: border-box;}
header {
    position: fixed;
    top:0;
	background: url('https://images.unsplash.com/photo-1589832020701-87d1717b4653?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
	text-align: center;
	width: 100%;
	height: 80px;
	background-size: fix;
	background-attachment: fixed;
    background-position-y: -650px;
	box-shadow: 0 3px 20px 0 #0000003b;
	overflow: hidden;
    transition: 0.5s;
}
header .overlay{
	width: 100%;
	height: 100%;
	color: #E0DFD4;
	text-shadow: 2px 2px 2px #333;
    background-image: linear-gradient( 90deg, #72911C 5%, #80cdd679 100%);
    transition: 0.5s;
}
header h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 70px;
    transition: 0.5s;
}
header button {
	color: #333;
	background: #E0DFD4;
	box-shadow: 0 3px 20px 0 #0000003b;
    transition: 0.5s;
}
header button:hover{
	background: #e0dfd4c2;
	cursor: pointer;
    transition: 0.5s;
}

.main {
    position: absolute;
    transition: 0.5s;
    margin-top: 150px;
    width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items:center;
}

.container {
    display: flex;
    width: 100%;
    padding: 1% 0%;
    box-sizing: border-box;
    height: 70vh;
}
  
.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
}
  
.box img {
    width: 150%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
}
  
.box span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}
  
.box:hover { 
    flex: 1 1 50%; 
}

.box:hover > img {
    width: 100%;
    height: 100%;
}


