{% extends "Common.html" %}
{% block title %}Care{% endblock %}
{% block html_head %}
{% endblock %}
{% block content %}
    <div >
        <style>
                .main-content{
                    text-align: center;
                }
                .footer {
                    visibility: hidden;
                }
        </style>
        <div class="main-content" id="main-content-div">
            <div class="careSection" style="display: grid;">
                <div>
                    <img style="border: 2px solid black; display: block; margin-left: auto; margin-right: auto; width: 300px;"  src="{{url_for('static', filename = 'images/Care/BabyHand.jpg')}}" pics  alt="baby hedgehog"><br>
                </div>
                <div>
                    <h1 style="text-align: center; margin-left: 40px; margin-right: 40px; font-family: 'Dancing Script', cursive; font-size: 60px; font-weight: bold; color: #72911C; text-shadow: 2px 2px 2px white;">
                        Baby Care
                    </h1><br>
                    <div>

                    <p style="font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">You may hear the occasional little peep from the babies from time to time but you probably won’t see them out of the nest for a few weeks.</p>
                    <p style="font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">Do not disturbing the hedgehogs nest as it may result in an upset mother hedgehog. Since a mother hedgehog that thinks its nest is in danger she might abandon or kill the litter.</p>
                    <p style="font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">Their eyes are closed, and ears and facial features are wrinkly and aren’t clearly defined when they are born though the eyes start to open generally between day 15 and 18 and the babies start to explore their surroundings. This is usually a safe week to hold the babies but make sure to watch the  mom to be sure she isn’t being too protective!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-content" id="main-content.div">

                <div class="careSection" style="display: grid;">
                    <div>

                        <img style="border: 2px solid black; display: block; margin-left: auto; margin-right: auto; width: 300px;"  src="{{url_for('static', filename = 'images/Care/nutrition.jpg')}}" pics  alt="nutrition hedgehog"><br>
                    </div>
                    <div style="display: grid; grid-template-columns: 1fr 1fr;">
                        <div>
                            <h1 style="text-align: center; font-family: 'Dancing Script', cursive; font-size: 60px; font-weight: bold; color: #72911C; text-shadow: 2px 2px 2px white;">
                                Nutrition
                            </h1><br>
                            <p style="margin-left: 40px; margin-right: 40px; font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">You want to give your hedgehog a balanced diet with clean fresh water. You should only give them a small portion of fruits and vegetables and the insects should be used as treats for them. The list below isn't a extensive list so if you are wondering if there is something else that you can feed them then a quick google search will suffice.</p><br>
                        </div>
                        <div>
                            <p style="font-weight: bold;text-align: center; font-family: 'Dancing Script', cursive; font-size: 40px; font-weight: bold; color: #72911C; text-shadow: 2px 2px 2px white;">Food you can feed hedgehogs</p>
                            <ul style="text-align: center; list-style: none; font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">
                                <li>Dry Hedgehog or Cat Food</li>
                                <li>Moist pet food that is made from meat</li>
                                <li>corn</li>
                                <li>beans</li>
                                <li>peas</li>
                                <li>apples</li>
                                <li>carrots</li>
                                <li>crickets</li>
                                <li>mealworms</li>
                            </ul><br>
                        </div>
                    </div>
                </div>
            </div>
        <div class="main-content" id="main-content.div">
                <div class="splitCareSection">
                    <div>
                        <h1 style="text-align: center; font-family: 'Dancing Script', cursive; font-size: 60px; font-weight: bold; color: #72911C; text-shadow: 2px 2px 2px white;">
                            Environment
                        </h1><br>
                        <p style="margin-left: 40px; margin-right: 40px; font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">Hedgehogs are nocturnal and should be placed someplace away from bright lights, they are typically solitary animals and should be in individual cages. The temperature range that you should aim for is within 70-85 degrees fahrenheit. You should provide a hiding place within the cage.</p>
                    </div>
                    <div>
                        <h1 style="text-align: center; font-family: 'Dancing Script', cursive; font-size: 60px; font-weight: bold; color: #72911C; text-shadow: 2px 2px 2px white;">
                            Accessories
                        </h1><br>
                        <p style="margin-left: 40px; margin-right: 40px; font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">You do not need many acccessories for Hedgehogs but i do suggest having some structure for them to hide in and possible a animal wheel without wires so they do not get their feet stuck inside.</p>
                    </div>
                </div>
            </div>
        <div class="main-content" id="main-content.div" style="text-align: center;">
                <h1 style="text-align: center; font-family: 'Dancing Script', cursive; font-size: 60px; font-weight: bold; color: #72911C; text-shadow: 2px 2px 2px white;">
                    Cages
                </h1><br>
                <p style="text-align: center; margin-left: 40px; font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">You can check use this <a href="https://www.hedgehogcare101.com/preparing-hedgehog-cage-habitat/?fbclid=IwAR2qGvCosSSkylWLLhUq93b5M-gXulb_6K1mUYvFq3oIhdx_mKU2hzWlhMQ" target="_blank">Cage Guide</a> which does include a simple plastic storage container build for a in-depth guide on how to prepare a cage.</p><br>

                <div class="cages" style="text-align: center; display: grid;">
                    <div>
                        <p style="justify-content: center;align-self: center; font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">Some other recommendations i have is for $63.99 from Amazon.</p><br>
                        <a style="display: block; margin-left: auto; margin-right: auto; width: 300px; min-height: 300px;" href="https://www.amazon.com/Guinea-Habitat-MidWest-Panel-Inches/dp/B001NJ0DQ8/ref=mp_s_a_1_8?dchild=1&keywords=hedgehog%20cage&qid=1615230373&sprefix=hedgego&sr=8-8&fbclid=IwAR3TEwwnBAQvB3_CL5W3otQ6_GBGVZwwjxwwQfV8ZO7G0hM1rRFVKUX5bPU" target="_blank"> <img style="border: 2px solid black; display: block; margin-left: auto; margin-right: auto; width: 300px; min-height: 300px;"  src="{{url_for('static', filename = 'images/care/cage1.jpg')}}" pics alt="cage1"></a><br>
                    </div>
                    <div>
                        <p style="font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">A larger and more expensive cage would be $169.99 from Amazon.</p><br>
                        <a style="display: block; margin-left: auto; margin-right: auto; width: 300px; min-height: 300px;" href="https://www.amazon.com/MidWest-Critter-161-Leak-Proof-Measures/dp/B001NJ0DAE/ref=mp_s_a_1_3?dchild=1&keywords=hedgehog%20cage&qid=1615230373&sprefix=hedgego&sr=8-3&fbclid=IwAR3WhKumv2lsv30YaeA279o9WFWuoXhS0tyfp1J-VEddBD5O--3LtWTpG1g" target="_blank"><img style="border: 2px solid black; display: block; margin-left: auto; margin-right: auto; width: 300px; max-height: 300px;"  src="{{url_for('static', filename = 'images/care/cage3.jpg')}}" pics alt="cage3"></a>
                    </div>

                </div>
                <p style="font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">Another is $71.98 from the chewy website. <a href="https://www.chewy.com/ware-home-sweet-home-rabbit-cage/dp/284689?utm_source=google-product&utm_medium=cpc&utm_campaign=hg&utm_content=Ware&utm_term=&gclid=EAIaIQobChMIo7_Ho7Kh7wIVi73ACh1qOwo8EAQYByABEgJ3J_D_BwE&fbclid=IwAR3eJTj3vsTvd639UtLUy1M89edGS5myaxbsY_Gd0_HFcegNJ0WHioK7_vk">Chewy Cage</a> (picture unavailable)</p><br>
            </div>
        <div class="main-content" id="main-content.div" style="text-align: center">
                <h1 style="text-align: center; font-family: 'Dancing Script', cursive; font-size: 60px; font-weight: bold; color: #72911C; text-shadow: 2px 2px 2px white;">
                    Color Guide
                </h1><br>
                <p style="margin-left: 40px; margin-right: 40px; font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">There is over 90 variants of colors that hedgehogs come in. I will provide a quick description of the variants that i have.</p><br>
                <div class="colors" style="display: grid; ">
                    <div>
                        <p style="font-weight: bold; font-size: 35px; font-family: 'Dancing Script', cursive;  color: #72911C; text-shadow: 2px 2px 2px white;">Black</p>

                        <img style="border: 2px solid black; display: block; margin-left: auto; margin-right: auto; width: 300px; max-height: 300px;"  src="{{url_for('static', filename = 'images/Care/black.jpg')}}" pics alt="black hedgehog"><br>
                        <p style="margin-left: 40px; margin-right: 40px; font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">Their skin, face and eyes are black. </p><br>
                    </div>
                    <div>
                        <p style="font-weight: bold; font-size: 35px; font-family: 'Dancing Script', cursive;  color: #72911C; text-shadow: 2px 2px 2px white;">High Pinto</p>
                        <img style="border: 2px solid black; display: block; margin-left: auto; margin-right: auto; width: 300px; max-height: 300px;"  src="{{url_for('static', filename = 'images/Care/High.jpg')}}" pics  alt="white hedgehog"><br>
                        <p style="margin-left: 40px; margin-right: 40px; font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">They have patches of white markings which randomly occur on the body of the hedgehog and they have black eyes.</p><br>
                    </div>
                    <div>
                        <p style="font-weight: bold; font-size: 35px; font-family: 'Dancing Script', cursive;  color: #72911C; text-shadow: 2px 2px 2px white;">Cinnamon</p>
                        <img style="border: 2px solid black; display: block; margin-left: auto; margin-right: auto; width: 300px; max-height: 300px;"  src="{{url_for('static', filename = 'images/Care/Cinnamon.jpg')}}" pics  alt="cinnamon hedgehog"><br>
                        <p style="margin-left: 40px; margin-right: 40px; font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">The face is not masked. The underbelly is white they have dark red eyes that look black unless in the light.</p><br>
                    </div>
                    <div>
                        <p style="font-weight: bold; font-size: 35px; font-family: 'Dancing Script', cursive;  color: #72911C; text-shadow: 2px 2px 2px white;">Reverse Pinto</p>
                        <img style="border: 2px solid black; display: block; margin-left: auto; margin-right: auto; width: 300px; max-height: 300px;"  src="{{url_for('static', filename = 'images/Care/Reverse.jpg')}}" pics  alt="reverse hedgehog"><br>
                        <p style="margin-left: 40px; margin-right: 40px; font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">They have small patch of a darker colored quills set against a white quill body. There can be a single patch or just a few small patches and they have black eyes.</p><br>
                    </div>
                    <div>
                        <p style="font-weight: bold; font-size: 35px; font-family: 'Dancing Script', cursive;  color: #72911C; text-shadow: 2px 2px 2px white;">Albino</p>
                        <img style="border: 2px solid black; display: block; margin-left: auto; margin-right: auto; width: 300px;"  src="{{url_for('static', filename = 'images/Care/albino.jpg')}}" pics  alt="albino hedgehog"><br>
                        <p style="margin-left: 40px; margin-right: 40px; font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">They have no coloring or pigment whatsoever. Their hair and spines are both completely white and they have no banding anywhere. They have red eyes as well with a pinkish nose and skin.</p><br>
                    </div>
                    <div>
                        <p style="font-weight: bold; font-size: 35px; font-family: 'Dancing Script', cursive;  color: #72911C; text-shadow: 2px 2px 2px white;">Salt and Pepper</p>
                        <img style="border: 2px solid black; display: block; margin-left: auto; margin-right: auto; width: 300px; max-height: 300px;"  src="{{url_for('static', filename = 'images/Care/SaltNPepper.jpg')}}" pics  alt="saltnpepper hedgehog">
                        <p style="margin-left: 40px; margin-right: 40px; font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 20px; font-weight: bold; color: #333;	text-shadow: 2px 2px 2px white;">Salt and pepper hedgehogs have a black nose, ears, and shoulders. The rest of their face is white. Their quills are primarily white but black bands are present.</p><br>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
{% block navOverlay %}
    <div class="overlay" id="headerOverlay" style="height: 75px;">
                <h1 id="headerTitle" style="font-size: 57px;">Care</h1>
            </div>
{% endblock %}
