{% extends "Common.html" %}
{% block title %}For Sale{% endblock %}
{% block html_head %}
{% endblock %}
{% block content %}
    <div>
        <h4 style="width: 100%; text-align: center;">Here are some hedgehogs that are for sale!</h4>
        {% for row in rows %}
            <div class="container" style="height: 55vh; width: 55vh; grid-template-columns: 1fr; grid-template-rows: 1fr; margin: auto; text-align: center;">
                <div class="box">
                    <img src="data:image/jpg;base64,{{ row[7].decode('ascii') }}" alt="for sale #{{row[0]}} hedgehog">
                    <span>{{row[1]}} - {{row[2]}}</span>
                </div><br>
                <div style="padding=5px">
                <p>Date of Birth: {{row[3]}}</p>
                <p>Color: {{row[4]}}</p>
                <p>Gender: {{row[5]}}</p>
                <p>Ready: {{row[6]}}</p>
                <p>Requests: {{row[8]}}</p>
                </div>
            </div>
        {% endfor %}
        <style>
            .main form {
                width: 400px;
                background-color: #72911C;
                box-shadow: 0 20px 30px rgba(0, 0, 0, .2);
                padding: 1%;
                border-radius: 10px;
                text-align: center;
                margin: auto;
            }
            .main form input {
                text-align: center;
                width: 92%;
                background-color: #E0DFD4;
                padding: 1%;
                margin: 10px;
            }
            .main form h3 {
                text-align: center;
                width: 92%;
                font-family: 'Dancing Script', cursive;
                font-size: 40px;
                text-shadow: 2px 2px 2px #333;
                color: #E0DFD4;
                background-color: #536915;
                border-radius: 10px;
                padding: 1%;
                margin: 10px;
                margin-left: 14px;
            }

    </style>
        <form action="{{ url_for('inquireHoglet') }}" method="post">
            <h3>Request a Hoglet!</h3>
            <input name="email" type="text" id="email" size="140" placeholder="Email">
            <input name="hoglet" type="text" id="hoglet" size="140" placeholder="Name of hoglet">
            <input type="submit" class="btn btn-success" value="Request"/>
        </form>
        <br>
        <br>
        <br>
    </div>
{% endblock %}
{% block navOverlay %}
    <div class="overlay" id="headerOverlay" style="height: 75px;">
        <h1 id="headerTitle" style="font-size: 57px;">For Sale</h1>
    </div>
{% endblock %}