{% extends "Common.html" %}
{% block title %}For Sale{% endblock %}
{% block html_head %}
{% endblock %}
{% block content %}
    <div>
        <h3 style="width: 100%; text-align: center;">Here are some hedgehogs that are for sale!</h3>
        {% for row in rows %}
            <div class="container" style="height: 55vh; width: 55vh; grid-template-columns: 1fr; grid-template-rows: 1fr; margin: auto; text-align: center;">
                <div class="box">
                    <img src="data:image/jpg;base64,{{ row[7].decode('ascii') }}" alt="for sale #{{row[0]}} hedgehog">
                    <span>{{row[1]}} - {{row[2]}}</span>
                </div>
                <p>Date of Birth: {{row[3]}}</p>
                <p>Color: {{row[4]}}</p>
                <p>Gender: {{row[5]}}</p>
                <p>Ready: {{row[6]}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block navOverlay %}
    <div class="overlay" id="headerOverlay" style="height: 75px;">
        <h1 id="headerTitle" style="font-size: 57px;">For Sale</h1>
    </div>
{% endblock %}