{% extends "Common.html" %}
{% block title %}Fun Facts{% endblock %}
{% block html_head %}
{% endblock %}
{% block content %}
    <div style="height: 180%;">
        <div style="width: 100%; text-align: center;">
            <img style="width: 50vh; max-height: 500px; border: 2px solid black;" src="{{url_for('static', filename = 'images/homepagepicture2.jpg')}}" alt="hedgehog image">
            <div style="font-weight: bold; font-size: 35px; font-family: 'Dancing Script', cursive;  color: #72911C; text-shadow: 2px 2px 2px white;">
                <p >A group of hedgehogs is called an 'Array'</p>
                <br>
                <p>Hedgehogs are illegal in some parts of the United States</p>
                <br>
                <p>A Hedgehog has between 5000 and 7000 quills</p>
                <br>
                <p>There are 17 different species of hedgehog</p>
                <br>
                <p>Hedgehogs rely on hearing and smell because they have poor eyesight</p>
                <br>
                <p>Hedgehog spikes are not barbed or poisonous</p>
                <br>
            </div>
            <a href="https://www.mentalfloss.com/article/56004/16-fun-facts-about-hedgehogs" target="_blank">source</a>
        </div>
    </div>
{% endblock %}
{% block navOverlay %}
    <div class="overlay" id="headerOverlay" style="height: 75px;">
        <h1 id="headerTitle" style="font-size: 57px;">Fun Facts</h1>
    </div>
{% endblock %}