{% extends "Common.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div style="text-align: center;">
        <h1 style="font-family: 'Dancing Script', cursive; color: #72911C; text-shadow: 2px 2px 2px white;">Thank you for taking the time to look at my website!</h1>
        <h2 style="font-family: 'Dancing Script', cursive; color: #72911C; text-shadow: 2px 2px 2px white;">I hope you like it!</h2>
        <div class="homeImgs" style="display: grid;">
            <div class="card" >
                <div class="card_part card_part-one" style="background-image: url({{url_for('static', filename = 'images/Home/one.jpg')}});"></div>
                <div class="card_part card_part-two" style="background-image: url({{url_for('static', filename = 'images/Home/two.jpg')}});"></div>
                <div class="card_part card_part-three" style="background-image: url({{url_for('static', filename = 'images/Home/three.jpg')}});"></div>
                <div class="card_part card_part-four" style="background-image: url({{url_for('static', filename = 'images/Home/four.jpg')}});"></div>
            </div>
            <div>
                <img style="width: 350px; height: 350px; object-fit: cover; margin: 20px; border-radius: 10px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);" src="{{url_for('static', filename = 'images/homepagepicture1.jpg')}}" alt="Andi image">
            </div>
            <div class="card" >
                <div class="card_part_2 card_part-one" style="background-image: url({{url_for('static', filename = 'images/Home/five.jpg')}});"></div>
                <div class="card_part_2 card_part-two" style="background-image: url({{url_for('static', filename = 'images/Home/six.jpg')}});"></div>
                <div class="card_part_2 card_part-three" style="background-image: url({{url_for('static', filename = 'images/Home/seven.jpg')}});"></div>
                <div class="card_part_2 card_part-four" style="background-image: url({{url_for('static', filename = 'images/Home/eight.jpg')}});"></div>
            </div>
        </div>
        <div style="margin: 10px;">
        <h3>
            Hi my name is Andreya Westerman and I am a small-scale breeder of Hedgehogs. I used to breed chinchillas and have lots of experience with small animals.
        </h3>
        <h4>
            If you are interested in my available hoglets then check out the For Sale page. If you want to bring home one of our hoglets, make sure you email us to reserve a hoglet through the Contact Us page!
        </h4>
    </div>
    </div>
{% endblock %}
{% block navOverlay %}
    <div class="overlay" id="headerOverlay" >
        <h1 id="headerTitle">Andi’s Critters!</h1>
    </div>
{% endblock %}
