{% extends "Common.html" %}
{% block title %}Q&A{% endblock %}
{% block html_head %}
{% endblock %}
{% block content %}
    <div>
        <div class="qa">
            <p class="question">Can hedgehogs live together?</p>
            <p class="answer">I do not cage my hedgehogs together but they will (sometimes) accept companions.</p>
            <p class="answer">I only recommend housing females together because males will fight one another.</p>
            <br>
            <br>
            <p class="question">Do they sleep during the day?</p>
            <p class="answer">Yes they are nocturnal and will sleep during the day and are very active at night.</p>
            <p class="answer">They may get up from time to time during the day to get something to eat and drink especially the ones with babies.</p>
            <br>
            <br>
            <p class="question">Are hedgehogs expensive?</p>
            <p class="answer">To buy one can get pricey, to care for it not really unless it has to go to the vet.</p>
            <br>
            <br>
            <p class="question">Do hedgehogs need a wheel in their cage?</p>
            <p class="answer">Yes. Hedgehogs can get really restless. </p>
            <br>
        </div>
    </div>
{% endblock %}
{% block navOverlay %}
    <div class="overlay" id="headerOverlay" style="height: 75px;">
        <h1 id="headerTitle" style="font-size: 57px;">Q&A</h1>
    </div>
{% endblock %}