{% extends "Common.html" %}
{% block title %}Q&A{% endblock %}
{% block html_head %}
{% endblock %}
{% block content %}
    <div>
        <div class="qa">
            {% for row in rows %}
                <p class="question">'{{row[2]}}' - {{row[1]}}</p>
                <p class="answer">'{{row[3]}}' - Andi</p>
                <br>
            {% endfor %}
        </div>
        <br>
        <br>
        <br>
        <h3 style="margin: 20px;">Want to submit a question? Email us through our contact page!</h3>
    </div>
{% endblock %}
{% block navOverlay %}
    <div class="overlay" id="headerOverlay" style="height: 75px;">
        <h1 id="headerTitle" style="font-size: 57px;">Q&A</h1>
    </div>
{% endblock %}