<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel = "stylesheet" type="text/css" href="{{url_for('static', filename = 'css/styles.css')}}">
        <link rel="shortcut icon" type="image/x-icon" href="https://cdn2.iconfinder.com/data/icons/animals-nature-2/50/1F994-hedgehog-512.png">
        <script src="{{url_for('static', filename = 'js/main.js')}}"></script>
        <title>Andi’s Critters - Report</title>
    </head>
    <body>
        <!-- Nav Bar -->
        <div id="mainNavBar" class="navBar" style="width: 0px;">
            <!-- Nav Title -->
            <div class="navBar-title" id="navTitle" style="visibility: hidden; margin-left: -200px;">
                <h3 style="width: 100%;">Andi's Critters</h3>
                <img src="https://cdn2.iconfinder.com/data/icons/animals-nature-2/50/1F994-hedgehog-512.png" style="width: 100px;" alt="nav icon hedgehog">
            </div>
            <!-- Nav Content -->
            <div id="navContent" style="visibility: hidden; margin-top: 150px;">
                <a class="navItem" href="{{url_for('home')}}" style="overflow: visible;">Home</a>
                <a class="navItem" href="{{url_for('myHedgehogs')}}">My Hedgehogs</a>
                <a class="navItem" href="{{url_for('meGrowing')}}">Watch Me Growing</a>
                <a class="navItem" href="{{url_for('forSale')}}">For Sale</a>
                <a class="navItem" href="{{url_for('sold')}}">Sold</a>
                <a class="navItem" href="{{url_for('care')}}">Hedgehog Care</a>
                <a class="navItem" href="{{url_for('questionsAndAnswers')}}">Q&A</a>
                <a class="navItem" href="{{url_for('funFacts')}}">Fun Facts!</a>
                <a class="navItem" href="{{url_for('contact')}}">Contact Us</a>
                <a class="navItem" href="{{url_for('reviews')}}">Reviews</a>
            </div>
        </div>
        <!-- Page Content -->
        <div class="main" id="main-div" style="list-style: none; text-align: center;">
            <!-- PUT REPORT CONTENT HERE -->
            <h1 style="text-decoration: underline;">Expectations</h1><br>
            <div >
                <h2>Style</h2>
                <ul >
                    <li>
                        1. The website was created for a client that wasn't either of us.
                    </li>
                    <li>
                        2. We have a header on every page of the website that includes the title of the current page and the button for the navbar.
                    </li>
                    <li>
                        3. Our website has 11 separate pages that each have their own unique purpose.
                    </li>
                    <li>
                        4. Our site has navigation links that takes you between the pages and to some outside resources.
                    </li>
                    <li>
                        5. Our page uses media queries for collapsing content in a vertical column.
                    </li>
                    <li>
                        6. We used similar font styles and layouts throughout our project.
                    </li>
                    <li>
                        7. Yea have images in most of the pages with alt attributes.
                    </li>
                    <li>
                        8. We have a favicon on top of the navbar.
                    </li>
                    <li>
                        9. We utilized a images, CSS, and JS folders for organization.
                    </li>
                    <li>
                        10. We used some Bootstrap with a couple of the page elements.
                    </li>
                    <li>
                        11. We used flask so this isn't valid.
                    </li>
                    <li>
                        12. All of our files contain lowercase characters with some having numbers.
                    </li>
                    <li>
                        13. We centered a lot of our content and used aligning css to make our content aligned.
                    </li>
                    <li>
                        14. If you look at our css file then you will see that we had multiple fonts faces.
                    </li>
                    <li>
                        15. We have 7 pages that have forms implemented on them.
                    </li>
                    <li>
                        16. We have links to eternal resources on a couple pages some leading to products and others to references.
                    </li>
                    <li>
                        17. Our code is readable and we used meaningful names for classes and IDs.
                    </li>
                    <li>
                        18. We have some animations with hovering over some pictures and a collapsable navbar.
                    </li>
                    <li>
                        19. We utilized SQLite as our database.
                    </li>
                    <li>
                        20. We have login functionality however still need to make it different.
                    </li>
                    <li>
                        21. Project 1 remarks will be addressed below.
                    </li>
                </ul>
            </div>
            <br>
            <div>
                <h2>Addressing Project 1 Comments</h2>
                <ul >
                    <li>
                        Some comments where not acted upon based on restructuring problems and disagreements.
                    </li>
                    <li>
                        We added some padding to separate the text from the pictures in the for sale page.
                    </li>
                    <li>
                        Adjusted the text on the care page to be similar to the rest of the pages and be easier to read.
                    </li>
                    <li>
                        Added some cautions in the care page for raising a hedgehog.
                    </li>
                </ul>
            </div>
            <br>
            <h1 style="text-decoration: underline;">Client Review</h1><br>
            <div >
                <p>
                    Look wise I really like it, it’s well organized and put together. The Care page was probably my favorite.<br> I wouldn’t change a thing other then making the photos a little smaller as they look a little blurry other than that I can see that they put a lot of work into my website and they really did a wonderful job.
                </p>
            </div>
            <br>
            <div>
                <h2>Pages with Forms</h2>
                <ul >
                    <li>
                        Questions & Answers
                    </li>
                    <li>
                        Fun Facts
                    </li>
                    <li>
                        Contact Us
                    </li>
                    <li>
                        Reviews
                    </li>
                    <li>
                        login
                    </li>
                    <li>
                        registration
                    </li>
                </ul>
            </div>
            <div>
                <h2>Member Contribution</h2>
                <ul >
                    <li>
                        Home - We both worked on this page, Ethan added the styling and Brandon added the context.
                    </li>
                    <li>
                        My Hedgehogs - Ethan created the page setup, Brandon added all the relative info.
                    </li>
                    <li>
                        Watch Me Growing - Ethan created the page setup, Brandon added the relative info.
                    </li>
                    <li>
                        For Sale - Ethan Created the form with database integration and he set up the page's style, Brandon added the relative info.
                    </li>
                    <li>
                        Sold - Ethan did the majority of work on this page.
                    </li>
                    <li>
                        Hedgehog Care - Ethan helped with some formatting, Brandon added all of the info and the base formatting.
                    </li>
                    <li>
                        Q&A - Ethan created the form with database integration and he set up the page, Brandon supplied the questions and answers.
                    </li>
                    <li>
                        Fun Facts! - Ethan created the form with database integration and he created most of the page, Brandon added a couple fun facts.
                    </li>
                    <li>
                        Contact Us - Ethan created the form with database integration and did the majority of the work on this page.
                    </li>
                    <li>
                        Reviews - Ethan created the form with database integration and did the majority of the work on this page.
                    </li>
                    <li>
                        Login & Registration - Brandon created the forms with database integration and styled the simple pages.
                    </li>
                    <li>
                        Report - Brandon typed it with feedback from his wife and reviewed by Ethan.
                    </li>
                </ul>
            </div>
        </div>
        <!-- Header -->
        <header id="header">
            <!-- Nav Button -->
            <span class="navButton" id="navBarButton" onclick="toggleNavBar()">&#9776;</span>
            
            <div class="overlay" id="headerOverlay" >
                <h1 style="font-size: 60px;" id="headerTitle">Report</h1>
            </div>
        </header>
    </body>
</html>
