<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel = "stylesheet" type="text/css" href="{{url_for('static', filename = 'css/styles.css')}}">
        <link rel="shortcut icon" type="image/x-icon" href="https://cdn2.iconfinder.com/data/icons/animals-nature-2/50/1F994-hedgehog-512.png">
        <script src="{{url_for('static', filename = 'js/main.js')}}"></script>
        <title>Andi’s Critters - Report</title>
    </head>
    <body>
        <!-- Nav Bar -->
        <div id="mainNavBar" class="navBar" style="width: 0px;">
            <!-- Nav Title -->
            <div class="navBar-title" id="navTitle" style="visibility: hidden; margin-left: -200px;">
                <h3 style="width: 100%;">Andi's Critters</h3>
                <img src="https://cdn2.iconfinder.com/data/icons/animals-nature-2/50/1F994-hedgehog-512.png" style="width: 100px;" alt="nav icon hedgehog">
            </div>
            <!-- Nav Content -->
            <div id="navContent" style="visibility: hidden; margin-top: 150px;">
                <a class="navItem" href="{{url_for('home')}}" style="overflow: visible;">Home</a>
                <a class="navItem" href="{{url_for('myHedgehogs')}}">My Hedgehogs</a>
                <a class="navItem" href="{{url_for('meGrowing')}}">Watch Me Growing</a>
                <a class="navItem" href="{{url_for('forSale')}}">For Sale</a>
                <a class="navItem" href="{{url_for('sold')}}">Sold</a>
                <a class="navItem" href="{{url_for('care')}}">Hedgehog Care</a>
                <a class="navItem" href="{{url_for('questionsAndAnswers')}}">Q&A</a>
                <a class="navItem" href="{{url_for('funFacts')}}">Fun Facts!</a>
                <a class="navItem" href="{{url_for('contact')}}">Contact Us</a>
                <a class="navItem" href="{{url_for('reviews')}}">Reviews</a>
            </div>
        </div>
        <!-- Page Content -->
        <div class="main" id="main-div" style="list-style: none; text-align: center;">
            <!-- PUT REPORT CONTENT HERE -->
            <h1 style="text-decoration: underline;">Expectations</h1><br>
            <div >
                <h2>Style</h2>
                <ul >
                    <li>
                        Common style through pages is achieved through global CSS styling
                    </li>
                    <li>
                        Pages look well when presented together
                    </li>
                    <li>
                        No elements are overlapping in pages regardless of condensed or normal layout
                    </li>
                    <li>
                        Headers, Footers, and Nav Bars are utilized throughout the website
                    </li>
                    <li>
                        Each page's favicon/shortcut icon is declared and used
                    </li>
                    <li>
                        All page content is neatly aligned
                    </li>
                    <li>
                        Multiple fonts are used
                    </li>
                    <li>
                        Grids and Flex Boxes are utilized
                    </li>
                    <li>
                        All pages and CSS validate correctly
                    </li>
                </ul>
            </div>
            <br>
            <div >
                <h2>Content</h2>
                <ul >
                    <li>
                        All pages have a usefull purpose
                    </li>
                    <li>
                        Content is formatted appropriately
                    </li>
                    <li>
                        Natigation links and external links are utilized where necessary
                    </li>
                    <li>
                        Images and their alt attributes are all properly used
                    </li>
                    <li>
                        Each page and image is neatly stored and named correctly
                    </li>
                </ul>
            </div>
            <br>
            <h1 style="text-decoration: underline;">Client Review</h1><br>
            <div >
                <p>
                    Look wise I really like it, it’s well organized and put together. The Care page was probably my favorite.<br> I wouldn’t change a thing other then making the photos a little smaller as they look a little blurry other than that I can see that they put a lot of work into my website and they really did a wonderful job.
                </p>
            </div>
        </div>
        <!-- Header -->
        <header id="header">
            <!-- Nav Button -->
            <span class="navButton" id="navBarButton" onclick="toggleNavBar()">&#9776;</span>
            
            <div class="overlay" id="headerOverlay" >
                <h1 style="font-size: 60px;" id="headerTitle">Report</h1>
            </div>
        </header>
    </body>
</html>
