{% extends "Common.html" %}
{% block title %}Reviews{% endblock %}
{% block html_head %}
{% endblock %}
{% block content %}
    <div style="height: 115%;">
        <div class="reviews">
            {% for row in rows %}
                <p class="name">{{row[1]}}</p>
                <p class="review">'{{row[2]}}' - {{row[3]}}</p>
                <br>
            {% endfor %}
        </div>
        <br>
        <br>
        <br>
        <h3 style="margin: 20px;">Want to submit a review? Email us through our contact page!</h3>
    </div>
{% endblock %}
{% block navOverlay %}
     <div class="overlay" id="headerOverlay" style="height: 75px;">
         <h1 id="headerTitle" style="font-size: 57px;">Reviews</h1>
     </div>
{% endblock %}