{% extends "Common.html" %}
{% block title %}Reviews{% endblock %}
{% block html_head %}
{% endblock %}
{% block content %}
    <div style="height: 115%;">
        <div class="reviews">
            <p class="name">Jacob Jackobson</p>
            <p class="review">"Great service, Love playing/watching my hedgehog! Thank you guys!" - 3/21/21</p>
            <br>
            <p class="name">Timmy Timmerson</p>
            <p class="review">"Quick email responces, great customer service, and quality hedgehogs! Will definitely be recommending to all of my friends!" - 2/15/21</p>
            <br>
            <p class="name">Sally Sandsman</p>
            <p class="review">"Cute hedgehogs! Cant wait until mine arrives!" - 1/12/21</p>
            <br>
            <p class="name">Penny Nickelson</p>
            <p class="review">"Just ordered 2 hedgehogs, amazing customer service!" - 12/29/20</p>
            <br>
        </div>
        <br>
        <br>
        <br>
        <h3 style="margin: 20px;">Want to submit a review? Email us through our contact page!</h3>
    </div>
{% endblock %}
{% block navOverlay %}
     <div class="overlay" id="headerOverlay" style="height: 75px;">
         <h1 id="headerTitle" style="font-size: 57px;">Reviews</h1>
     </div>
{% endblock %}