{% extends "Common.html" %}
{% block title %}Sold{% endblock %}
{% block html_head %}
{% endblock %}
{% block content %}
    <div>
        <h2 style="width: 100%; text-align: center;">Here are some hedgehogs that have been sold!</h3>
            <style>
                .box span {
                    font-size: 2.8vh;
                    height: 5vh;
                    line-height: 1.6;
                }
                .box img {
                    height: calc(100% - 5vh);
                }
            </style>
        <div class="container" style="height: 40vh">
            <div class="box">
                <img src="images/Sold/ (1).jpg" alt="sold hedgehog 1">
                <span>Jerry</span>
            </div>
            <div class="box">
                <img src="images/Sold/ (2).jpg" alt="sold hedgehog 2">
                <span>Terry</span>
            </div>
            <div class="box">
                <img src="images/Sold/ (3).jpg" alt="sold hedgehog 3">
                <span>Larry</span>
            </div>
            <div class="box">
                <img src="images/Sold/ (4).jpg" alt="sold hedgehog 4">
                <span>Perry</span>
            </div>
            <div class="box">
                <img src="images/Sold/ (5).jpg" alt="sold hedgehog 5">
                <span>Tom</span>
            </div>
            <div class="box">
                <img src="images/Sold/ (6).jpg" alt="sold hedgehog 6">
                <span>Sally</span>
            </div>

        </div>
        <div class="container" style="height: 40vh">
            <div class="box">
                <img src="images/Sold/ (7).jpg" alt="sold hedgehog 7">
                <span>Jake</span>
            </div>
            <div class="box">
                <img src="images/Sold/ (8).jpg" alt="sold hedgehog 8">
                <span>Tim</span>
            </div>
            <div class="box">
                <img src="images/Sold/ (9).jpg" alt="sold hedgehog 9">
                <span>Kelly</span>
            </div>
            <div class="box">
                <img src="images/Sold/ (10).jpg" alt="sold hedgehog 10">
                <span>Austin</span>
            </div>
            <div class="box">
                <img src="images/Sold/ (11).jpg" alt="sold hedgehog 11">
                <span>Jack</span>
            </div>
        </div>
    </div>
{% endblock %}
{% block navOverlay %}
    <div class="overlay" id="headerOverlay" style="height: 75px;">
        <h1 id="headerTitle" style="font-size: 57px;">Sold</h1>
    </div>
{% endblock %}
